.register form{
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 30px;
    background-color: #10217d;
    border-radius: 30px;
    margin: 50px 0;
    border-bottom: 5px solid #16c2d5;
}
.register .form-control{
    padding:2% 30% 2% 2%;
    border: 1px solid #16c2d5;
}
.register h3{
        font-size: 44px;
        color: #10217d ;
        font-weight: 700;
        margin-bottom: 30px;
   
}
.register a{
   text-decoration: underline;
   font-size: 10px;

}
