*{
    margin: 0;
    padding: 0;
  }
  .menu{
    width: 100%;
    background-color: #85311b;
    color: white;
  
  }

  img{
    width: 40%;
  }
  .MenuBar-container{
    background-color: #105652;
  }
  
  
  
  
   .navbar-dark .navbar-nav .nav-link
  {
      color:#ffffff;
  }
  
  
  
    a{
  
     font-weight: bold;
     color: #ffffff; 
     text-decoration:none;
     margin:0px 10px;
    }

   